<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Pelicula Avatar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">                                                                                                                                     
</head>
<body>
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="well sponsor" th:each="movie : ${movies}" th:object="${movie}">
                            <span style="float: left; margin-right: 15px;"><img th:src="@{|*{poster}|}"  width="170" height="250"></span>
                            <h3><a th:href="@{|html/{id}|}" style="margin-bottom: 0.4em;" th:text= "*{title}"></a></h3>
                            <h4 style ="color:blue;" th:text= "*{year}"></h4>
                            <h4 style ="color:red;" th:text="*{year} == 2020 ? '¡ Novedad !'"> ¡ novedad 2020 ! </h4></br>
                            <p th:text="*{description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</body>
</html>

