<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peliculas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
    <div class="col-sm-12">
        <div class="card col-sm-4" th:each="movie : ${movies}" th:object="${movie}"> 
          <div class="image">
            <img th:src="*{poster}"/>
          </div>
          <div class="card-inner">
            <div class="header">
              <h2><a th:href="@{|/html/*{id}|}" th:text= "*{title}"></a></h2>
              <h3 style ="color:blue;" th:text= "*{year}"></h3>
            </div>
          </div>
        </div>
      </div>
</body>
</html>